<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>520720924225-dvbk6bjdolhjtdmvq9ovjjk8b5obu0ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520720924225-dvbk6bjdolhjtdmvq9ovjjk8b5obu0ef</string>
	<key>API_KEY</key>
	<string>AIzaSyBa3pefqTW4OoS-T7YI0VQcAS2zvbNqoAc</string>
	<key>GCM_SENDER_ID</key>
	<string>520720924225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>john.tumath.sjsu.GroupProject137</string>
	<key>PROJECT_ID</key>
	<string>project-c73cf</string>
	<key>STORAGE_BUCKET</key>
	<string>project-c73cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520720924225:ios:d6343548a179ae72</string>
	<key>DATABASE_URL</key>
	<string>https://project-c73cf.firebaseio.com</string>
</dict>
</plist>